@import './custom.scss';

.task-checkbox+label {
    height: 40px;
    width: 40px;
    border: 1px solid $tdl-gray;
    border-radius: 5px;
    cursor: pointer;
}


.task-checkbox:checked+label {
    background-color: $tdl-green;
    animation: taskCheckedAnimation 1s ease-out;
}

.task-checkbox:checked+label>i {
    color: $tdl-white;
    font-size: 14pt;
}

.task {
    top: 0;
    position: relative;
    animation: taskAnimation 0.5s ease-in-out forwards;
}