$tdl-purple: #7A3CDF;
$tdl-blue: #0887E2;
$tdl-gray: #DEE2E6;
$tdl-black: #000;
$tdl-white: #FFF;
$tdl-medium-gray: #F3F5FF;
$tdl-red: #DC3545;


$theme-colors: (
    "primary": $tdl-blue,
    "secondary": $tdl-medium-gray,
    "danger": $tdl-red
);

@import  "~bootstrap/scss/bootstrap";

.btn-custom-gray {
    color: $tdl-black;
}

.btn-custom-gray:hover {
    background-color: $tdl-gray;
}

