$tdl-blue: #0887E2;
$tdl-gray: #DEE2E6;
$tdl-black: #000;
$tdl-white: #FFF;
$tdl-medium-gray: #f6f6f6;
$tdl-red: #DC3545;
$tdl-green: #1daf6b;


$theme-colors: (
    "primary": $tdl-blue,
    "danger": $tdl-red
);

@import "~bootstrap/scss/bootstrap";


* {
    box-sizing: border-box;
}

.btn-custom-gray {
    color: $tdl-black;
}

.btn-custom-gray:hover,
.btn-custom-gray:focus {
    background-color: $tdl-gray;
}

.font-small-light {
    font-weight: 300;
    font-size: 9pt;
}


.error-font {
    color: tdl-red;
    font-size: 10pt;
}

.small-text {
    font-size: 9pt;
}


.btn-custom-transparent {
    background-color: transparent;
    border: none;
}


//TASKS ANIMATIONS
@keyframes taskAnimation {
    from {
        top: 50px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}


@keyframes taskCheckedAnimation {

    0% {
        box-shadow: 0px 0px 0px green;
        opacity: 0;
    }


    50% {
        box-shadow: 0px 0px 25px green;
        opacity: 1;
    }

    100% {
        box-shadow: 0px 0px 0px green;
    }
}

//CHECKLISTS ANIMATIONS
@keyframes checklistAnimation {
    from {
        top: 50px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

//GENERICS ANIMATIONS
@keyframes fadeIn {
    from {
        opacity: 0;
    }
}


//HEADER ANIMATIONS
@keyframes animateLateTasksBell {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(-45deg);
    }

    75% {
        transform: rotate(45deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(-25deg);
    }

    90% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}