@import './custom.scss';

.tdl-navbar {
    background-color: $tdl-blue;
    border-bottom: 1px solid $tdl-black;
}


.btn-custom-white {
    border: 2px;
}

.navbar-brand {
    cursor: pointer;
    letter-spacing: -0.75px;
}


.late-tasks-bell {
    position: absolute;
    left: 86%;
    top: 60%;
    width: 20px;
    height: 20px;
    color: $tdl-red;
    animation: animateLateTasksBell 1s ease-out 3s;
}