@import './custom.scss';

.tdl-navbar {
    background-color: $tdl-blue;
    border-bottom: 1px solid $tdl-black;
}


.btn-custom-white {
    border: 2px;
}

.navbar-brand {
    cursor: pointer;
}


.late-tasks-bell {
    position: absolute;
    left: 86%;
    top: 60%;
    width: 20px;
    height: 20px;
    color: $tdl-red;
    animation: animateLateTasksBell 1s ease-out 3s;
}


@keyframes animateLateTasksBell {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(-45deg);
    }

    75% {
        transform: rotate(45deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(-25deg);
    }

    90% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}